// colors

$primary-color: #038686;
$second-color: #1f242d;
$text-color: #fff;
$light-color: #4d4d4d;
$light-black: #222222;
$black: #000000;
$orange-color: rgb(255, 106, 0);

// fonts

$poppinsFont: "Poppins", "sans-serif";
